 ![png](books.png)

In [1]:
import pymysql
import pandas as pd
from urllib.parse import quote_plus as urlquote
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy.types import VARCHAR, INTEGER

In [2]:
username = "root"
password = "root" 

connection = f"mysql+pymysql://{username}:{password}@localhost/books"
engine = create_engine(connection)
conn = engine.connect()

In [3]:
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

In [8]:
# Preview the names of all tables 
q = '''SHOW TABLES;'''
pd.read_sql(q, conn)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [9]:
q = '''SELECT * FROM authors'''
pd.read_sql(q, conn)

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [11]:
authors = pd.read_csv('Data/authors.csv')
authors.head()
authors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           5 non-null      int64
 1   author_name  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [12]:
books = pd.read_csv('Data/books.csv')
books.head()
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         6 non-null      int64
 1   title      6 non-null      object
 2   author_id  6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 272.0+ bytes

In [13]:
favorites = pd.read_csv('Data/favorites.csv')
favorites.head()
favorites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  7 non-null      int64
 1   book_id  7 non-null      int64
dtypes: int64(2)
memory usage: 240.0 bytes

In [14]:
users = pd.read_csv('Data/users.csv')
users.head()
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3 non-null      int64
 1   first_name  3 non-null      object
 2   last_name   3 non-null      object
 3   email       3 non-null      object
dtypes: int64(1), object(3)
memory usage: 224.0+ bytes

In [15]:
q = """DESCRIBE authors;"""
pd.read_sql(q,conn)

         Field         Type Null  Key Default Extra
0           id          int   NO  PRI    None
1  author_name  varchar(45)  YES         None

In [16]:
q = """DESCRIBE books;"""
pd.read_sql(q,conn)

        Field         Type Null  Key Default           Extra
0          id          int   NO  PRI    None  auto_increment
1       title  varchar(45)  YES         None
2  authors_id          int  YES  MUL    None

In [17]:
q = """DESCRIBE favorites;"""
pd.read_sql(q,conn)

      Field Type Null  Key Default Extra
0  books_id  int   NO  PRI    None
1  users_id  int   NO  PRI    None

In [18]:
q = '''DESCRIBE users;'''
describe = pd.read_sql(q, conn)
describe

        Field         Type Null  Key Default           Extra
0          id          int   NO  PRI    None  auto_increment
1  first_name  varchar(45)  YES         None
2   last_name  varchar(45)  YES         None
3       email  varchar(45)  YES         None

In [19]:
# Checking the setting for FOREIGN_KEY_CHECKS
q = """SELECT @@FOREIGN_KEY_CHECKS"""
pd.read_sql(q, conn)

   @@FOREIGN_KEY_CHECKS
0                     1

In [20]:
# Changing the setting for FOREIGN_KEY_CHECKS with the connection
q = """SET @@FOREIGN_KEY_CHECKS=0"""
conn.execute(q)

In [21]:
# Confirm the checks are deactiavated
q = """SELECT @@FOREIGN_KEY_CHECKS"""
pd.read_sql(q,conn)

   @@FOREIGN_KEY_CHECKS
0                     0

In [22]:
authors.to_sql("authors",conn,index=False, if_exists='append')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'authors.PRIMARY'")
[SQL: INSERT INTO authors (id, author_name) VALUES (%(id)s, %(author_name)s)]
[parameters: ({'id': 1, 'author_name': 'Stephen King'}, {'id': 2, 'author_name': 'F.Scott Fitgerald'}, {'id': 3, 'author_name': 'Jack London'}, {'id': 4, 'author_name': 'Jane Austen'}, {'id': 5, 'author_name': 'Mary Shelley'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [ ]:
books.to_sql("books",conn,index=False, if_exists='drop')

In [ ]:
favorites.to_sql("favorites",conn,index=False, if_exists='append')

In [8]:
users.to_sql("users",conn,index=False, if_exists='replace')

OperationalError: (pymysql.err.OperationalError) (3730, "Cannot drop table 'users' referenced by a foreign key constraint 'fk_books_has_users_users1' on table 'favorites'.")
[SQL:
DROP TABLE users]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [7]:
# confirm the data has been added
q = """SELECT * FROM users;"""
pd.read_sql(q,conn)

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com