 ![png](books.png)

In [3]:
import pymysql
import pandas as pd
from urllib.parse import quote_plus as urlquote
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy.types import VARCHAR, INTEGER

In [4]:
username = "root"
password = "root" 

connection = f"mysql+pymysql://{username}:{password}@localhost/books"
engine = create_engine(connection)
conn = engine.connect()

In [5]:
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

In [6]:
# Preview the names of all tables 
q = '''SHOW TABLES;'''
pd.read_sql(q, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [7]:
q = '''SELECT * FROM users'''
pd.read_sql(q, engine)

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com